<html>
<head>
  <title>Baby Log - {{baby_name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/datatables-tabletools/2.1.5/css/TableTools.min.css" rel="stylesheet">
  <link href="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/datatables-tabletools/2.1.5/js/TableTools.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
  <script src="///cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

  <script>
var entry_types = {
{% for entry_type in entry_types %}
  {{entry_type.id}}: {label: "{{entry_type.label}}", supports_duration: {{entry_type.supports_duration}}},
{% endfor %}
};
function on_start(id) {
  var data = {
    'baby': {{baby_id}},
    'entry_type': id
  };
  $.ajax({
    type: 'POST',
    url: '/api/v1/babies/{{baby_id}}/entries/',
    data: JSON.stringify(data),
    contentType: 'application/json',
    dataType: 'json',
    success: function(data) {
      location.reload();
    },
    error: function (xhr, ajaxOptions, thrownError) {
      alert(xhr.statusText + ': ' + xhr.responseText);
    }
  });
}

function on_stop(id) {
  var data = {
    'ended': moment().toISOString()
  };
  $.ajax({
    type: 'PATCH',
    url: '/api/v1/babies/{{baby_id}}/entries/' + id + '/',
    data: JSON.stringify(data),
    contentType: 'application/json',
    dataType: 'json',
    success: function(data) {
      location.reload();
    },
    error: function (xhr, ajaxOptions, thrownError) {
      alert(xhr.statusText + ': ' + xhr.responseText);
    }
  });
}

function show_entries(entries) {
  var now = moment();
  $('#entries').dataTable( {
    "data": entries,
    "columnDefs": [
      {
        "render": function (data, type, row) {
          var lbl = entry_types[data]['label'];
          if (type != 'display' )
            return lbl;
          lbl = '<a href="entry/' + row.id + '/">' + lbl + '</a>';
	  if (row.long_interval) {
	    lbl += ' <span class="glyphicon glyphicon-thumbs-up" title="long duration"></span>';
	  }
	  return lbl;
        },
        "targets": 0
      },
      {
        "render": function (data, type, row) {
          if (type != 'display' )
            return data;

          var ts = moment(data);
          var diff = now - ts;
          var fmt = 'hh:mm A';
          if (diff > 1000*60*60*24*7) {
            fmt += ' ddd, MMM Do';
          }
          else if (ts.day() != now.day()) {
            fmt += ' ddd';
          }
          return ts.format(fmt);
        },
        "targets": 1
      },
      {
        "render": function (data, type, row) {
          if ( type != 'display' )
            return data;
          if ( !data ) {
            if (entry_types[row.entry_type].supports_duration) {
              var val = '<button type="button" onclick="on_stop(' + row.id + ');" class="btn btn-sm btn-danger">end now</button>';
              return val;
            }
            return data;
          }
          var minutes = (moment(data) - moment(row.started)) / 60000;
          return Math.round(minutes) + ' minutes';
        },
        "targets": 2
      },
    ],
    "columns": [
      { "data": "entry_type" },
      { "data": "started" },
      { "data": "ended" },
    ],
    "order": [[ 1, "desc" ]]
  });
}

function show_reports(reports) {
  $.each(reports, function(key, val) {
    if (key.indexOf('Last ') == 0) {
      $('#reports').append('<p>' + key + ': ' + moment(val).fromNow() + '</p>');
    } else {
      $('#reports').append('<p>' + key + ': ' + val + '</p>');
    }
  });
}

$(document).ready(function() {
  $.ajax({
    type: "GET",
    url: "/api/v1/babies/{{baby_id}}/entries/",
    contentType: "application/json; charset=utf-8",
    success: function (result) {
      show_reports(result.reports);
      show_entries(result.entries);
    },
    error: function (xhr, ajaxOptions, thrownError) {
      alert(xhr.statusText + ': ' + xhr.responseText);
    }
  });
});
  </script>

</head>

<body>
<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="#">Baby Log for {{baby_name}}</a>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <p>
  {% for entry_type in entry_types %}
    {% if entry_type.supports_duration %}
    <button type="button" onclick="on_start({{entry_type.id}});" class="btn btn-success">Start {{entry_type.label}}</button>
    {% endif %}
  {% endfor %}
  </p>
  <p>
  {% for entry_type in entry_types %}
    {% if not entry_type.supports_duration %}
    <button type="button" onclick="on_start({{entry_type.id}});" class="btn btn-primary">Add {{entry_type.label}}</button>
    {% endif %}
  {% endfor %}
  </p>
  <div id='reports'></div>
</div>

<div class="container" role="main">
  <div class="page-header">
  <table id="entries" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Entry</th>
        <th>Started</th>
        <th>Ended</th>
      </tr>
    </thead>
  </table>
  </div>
</div>

</body>
</html>

